@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #2e3a3e;
}

a,
a:visited {
  text-decoration: none;
  color: #2e3a3e;
}

.menu-icon__line {
  background-color: #000;
}

.scroll {
  .v-line {
    background-color: #000 !important;
  }
}

.sidebar {
  color: #000;
}

.intro {
  padding: 50px 70px;

  p {
    padding: 0 20px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.687;
  }
}

.container {
  padding: 0 70px;
  padding-bottom: 50px;

  .container-heading {
    text-align: center;

    h1 {
      font-size: 2.5rem;
    }
  }

  .inner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .hall {
      img {
        width: 100%;
      }
    }
  }
}

.events {
  padding-bottom: 50px;

  .events-container {
    position: relative;
    padding-bottom: 50px;

    .background {
      position: absolute;
      z-index: -1;
      background-color: #96002a;
      top: 0;
      left: 70px;
      right: 70px;
      bottom: 0;
    }

    .event {
      color: #fff;
      // padding: 50px 0;
      padding-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .event-info {
        padding: 100px 50px 100px 150px;

        &:nth-child(2) {
          padding: 100px 150px 100px 50px;
        }

        h3 {
          font-size: 2rem;
        }

        p {
          line-height: 1.687;
        }
      }

      .event-img {
        position: relative;

        &:nth-child(3) {
          padding-bottom: 50px;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .events {
    .events-container {
      padding: 0 70px;

      .event {
        display: flex;
        flex-direction: column;
        padding-top: 0;

        &:nth-child(even) {
          flex-direction: column-reverse;
        }

        .event-info {
          padding: 0 20px 20px 20px;

          &:nth-child(2) {
            padding: 0 20px 20px 20px;
          }

          h3 {
            margin: 10px 0;
          }
        }
      }
    }
  }

  .container {
    padding: 20px;
    padding-bottom: 50px;

    .container-heading {
      h1 {
        font-size: 8vw;
      }
    }

    .inner-container {
      grid-template-columns: repeat(2, 1fr);

      .hall:nth-of-type(3) {
        grid-column-end: span 2;
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .events {
    .events-container {
      padding: 0 20px;

      .background {
        left: 20px;
        right: 20px;
      }
    }
  }

  .intro {
    padding: 20px;
    p {
      padding: 0;
      font-size: 3.5vw;
    }
  }

  .container {
    .inner-container {
      grid-template-columns: 1fr;

      .hall:nth-of-type(3) {
        grid-column-end: auto;
      }
    }
  }
}
