@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #2e3a3e;
}

a,
a:visited {
  text-decoration: none;
  color: #2e3a3e;
}

.wrapper {
  position: relative;
}

.bar {
  background-color: #000 !important;
}

.menu-text {
  color: #000;
}

.menu-icon__line {
  background-color: #000;
}

.sidebar {
  color: #000;
}

.scroll .v-line {
  background-color: #000 !important;
}

.arrow .arrow-1,
.arrow .arrow-2 {
  background-color: #000;
}

.container {
  padding-left: 70px;
}

.container .container-heading {
  text-align: center;
}

.container .container-heading h1 {
  font-size: 2.5rem;
}

.amenities-container {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.amenities-container .col-1,
.amenities-container .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.amenities-container .col-1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.amenities-container .col-2 {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.amenities-container .amenity {
  width: 150px;
  padding: 20px;
}

.amenities-container .amenity .amenity-icon img {
  width: 100%;
}

.amenities-container .amenity .amenity-name {
  text-align: center;
}

.room {
  padding: 20px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.room .room-info {
  width: 50%;
  padding: 20px;
}

.room .room-info .room-heading h1 {
  font-size: 3.5rem;
}

.room .room-info .room-heading span {
  font-size: 2rem;
  display: block;
}

.room .room-info .room-content p {
  line-height: 1.687;
}

.room .room-slider-container {
  width: 50%;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.room .room-slider-container::-webkit-scrollbar {
  display: none;
}

.room .room-slider-container .room-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.room .room-slider-container .room-slider .room-slider-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.room .room-slider-container .room-slider .room-slider-item img {
  width: 100%;
}

@media screen and (max-width: 1150px) {
  .room {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .room:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .room .room-info,
  .room .room-slider-container {
    width: 100%;
  }
  .room .room-info {
    padding-left: 0;
    padding-right: 0;
  }
  .room .room-info .room-heading h1 {
    margin: 0;
  }
  .amenities-container .col-1 {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 600px) {
  .room {
    padding: 0 20px;
  }
  .room .room-info .room-heading h1 {
    font-size: 10vw;
  }
  .room .room-info .room-heading h1 span {
    font-size: 7vw;
  }
  .room .room-info .room-content p {
    font-size: 4vw;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*# sourceMappingURL=room.css.map */