@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #2e3a3e;
}

a,
a:visited {
  text-decoration: none;
  color: #2e3a3e;
}

.wrapper {
  position: relative;
}

.bar {
  background-color: #000 !important;
}

.menu-text {
  color: #000;
}

.menu-icon__line {
  background-color: #000;
}

.sidebar {
  color: #000;
}

.scroll {
  .v-line {
    background-color: #000 !important;
  }
}

.arrow {
  .arrow-1,
  .arrow-2 {
    background-color: #000;
  }
}

.container {
  padding-left: 70px;

  .container-heading {
    text-align: center;

    h1 {
      font-size: 2.5rem;
    }
  }
}

.amenities-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .col-1,
  .col-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .col-1 {
    justify-content: space-between;
  }

  .col-2 {
    justify-content: space-evenly;
  }

  .amenity {
    width: 150px;
    padding: 20px;

    .amenity-icon {
      img {
        width: 100%;
      }
    }

    .amenity-name {
      text-align: center;
    }
  }
}

.room {
  padding: 20px 70px;
  display: flex;
  flex-direction: row;

  .room-info {
    width: 50%;
    padding: 20px;

    .room-heading {
      h1 {
        font-size: 3.5rem;
      }

      span {
        font-size: 2rem;
        display: block;
      }
    }

    .room-content {
      p {
        line-height: 1.687;
      }
    }
  }

  .room-slider-container {
    width: 50%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    .room-slider {
      width: 100%;
      display: flex;
      flex-direction: row;

      .room-slider-item {
        min-width: 100%;
        scroll-snap-align: start;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .room {
    flex-direction: column;

    &:nth-child(2) {
      flex-direction: column-reverse;
    }

    .room-info,
    .room-slider-container {
      width: 100%;
    }

    .room-info {
      padding-left: 0;
      padding-right: 0;

      .room-heading {
        h1 {
          margin: 0;
        }
      }
    }
  }

  .amenities-container {
    .col-1 {
      justify-content: space-evenly;
    }
  }
}

@media screen and (max-width: 600px) {
  .room {
    padding: 0 20px;
    .room-info {
      .room-heading {
        h1 {
          font-size: 10vw;

          span {
            font-size: 7vw;
          }
        }
      }

      .room-content {
        p {
          font-size: 4vw;
        }
      }
    }
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
