@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  text-decoration: none;
  color: #2e3a3e;
}

.wrapper {
  position: relative;
}

.nav-slider-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.body-content {
  position: relative;
}

.booking-overlay {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  position: absolute;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-overlay h1,
.booking-overlay h2,
.booking-overlay h3,
.booking-overlay h4,
.booking-overlay h5,
.booking-overlay h6 {
  margin: 0;
}

.b-form {
  border: 1px solid #fff;
  margin-bottom: 20px;
}

.b-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.b-form form input {
  background: transparent;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  max-width: 120px;
}

.b-form form input:focus {
  outline: none;
}

.box:nth-of-type(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.box-head,
.box-tail {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0;
  letter-spacing: 1.5px;
}

.divider {
  width: 2px;
  height: 80%;
  background-color: #fff;
}

.b-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 1.5px;
  border-radius: 25px;
  text-transform: uppercase;
}

.b-btn:hover {
  color: #fff;
  background: #000;
  border-color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.discover-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.discover-container .discover {
  padding: 40px;
  margin-top: 150px;
  width: 800px;
  color: #2e3a3e;
}

.discover-container .discover .heading,
.discover-container .discover .more-info {
  text-align: center;
}

.discover-container .discover .heading h1 {
  font-size: 2.5rem;
}

.discover-container .discover .para {
  padding: 0 60px;
  margin-bottom: 50px;
}

.discover-container .discover .para p {
  font-size: 1.1rem;
  line-height: 1.687;
}

.more-info {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.more-info .more-info-btn {
  position: relative;
  padding: 10px;
  padding-left: 0;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  font-weight: 500;
}

.more-info .more-info-btn:hover {
  color: #fff;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.more-info .more-info-btn::after, .more-info .more-info-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 95%;
}

.more-info .more-info-btn::after {
  background-image: url(../img/arrow-w.png);
}

.more-info .more-info-btn::before {
  background-image: url(../img/arrow-c.png);
}

.more-info .more-info-btn span.under {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e3a3e;
  -webkit-transform: translateY(96%);
          transform: translateY(96%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  z-index: -1;
}

.more-info .more-info-btn:hover span.under {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.know-more-btn {
  margin-top: 20px;
}

.know-more-btn .text {
  font-size: 0.7rem;
}

.heading {
  text-align: center;
  margin-bottom: 80px;
}

.destination-container {
  color: #2e3a3e;
  padding-bottom: 50px;
}

.destination-container .container {
  padding-left: 70px;
}

.destination-container .container .place-container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.destination-container .container .place-container .place {
  max-width: 1000px;
  padding: 0 20px;
}

.destination-container .container .place-container .place .heading {
  text-align: left;
}

.destination-container .container .place-container .place .heading h1 {
  font-size: 4rem;
  margin: 0;
  background: url("../img/3.jpg") no-repeat;
  background-position: 50% 28%;
  background-size: cover;
  -webkit-background-clip: text;
  color: white;
  /* Fallback: assume this color ON TOP of image */
  -webkit-text-fill-color: transparent;
}

.destination-container .container .place-container .place .columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.destination-container .container .place-container .place .columns .col-1 img {
  width: 100%;
}

.destination-container .container .place-container .place .columns .col-2 h2,
.destination-container .container .place-container .place .columns .col-2 p {
  line-height: 1.687;
}

.destination-container .container .place-container .place .columns .col-2 h2 {
  margin-top: 0;
}

.destination-container .container .place-container .place .columns .col-2 .accomodation-btn {
  margin-top: 20px;
  font-size: 0.6rem;
}

.accomodation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.accomodation .rooms {
  max-width: 1200px;
}

.accomodation .rooms .classic,
.accomodation .rooms .deluxe {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.accomodation .rooms .classic .room-img,
.accomodation .rooms .deluxe .room-img {
  padding: 20px;
}

.accomodation .rooms .classic .room-img img,
.accomodation .rooms .deluxe .room-img img {
  width: 100%;
}

.accomodation .rooms .classic .room-info,
.accomodation .rooms .deluxe .room-info {
  padding: 20px;
}

.accomodation .rooms .classic .room-info h3,
.accomodation .rooms .deluxe .room-info h3 {
  font-size: 2rem;
}

.accomodation .rooms .classic .room-info p,
.accomodation .rooms .deluxe .room-info p {
  line-height: 1.687;
  font-size: 0.9rem;
}

.events {
  padding-bottom: 50px;
}

.events .events-container {
  position: relative;
  padding-bottom: 50px;
}

.events .events-container .background {
  position: absolute;
  z-index: -1;
  background-color: #f4f5f5;
  top: 0;
  left: 70px;
  right: 70px;
  bottom: 0;
}

.events .events-container .event {
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.events .events-container .event .event-info {
  padding: 100px 50px 100px 150px;
}

.events .events-container .event .event-info:nth-child(2) {
  padding: 100px 150px 100px 50px;
}

.events .events-container .event .event-info h3 {
  font-size: 2rem;
}

.events .events-container .event .event-info p {
  line-height: 1.687;
}

.events .events-container .event .event-img {
  position: relative;
}

.events .events-container .event .event-img:nth-child(3) {
  padding-bottom: 50px;
}

.events .events-container .event .event-img img {
  width: 100%;
}

.dining {
  padding: 0 70px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dining .food-container {
  max-width: 1200px;
}

.dining .food-container .food {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.dining .food-container .food:nth-child(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dining .food-container .food:nth-child(2) .food-info {
  left: 0;
  right: 50%;
}

.dining .food-container .food .food-img {
  width: 70%;
}

.dining .food-container .food .food-img img {
  width: 100%;
}

.dining .food-container .food .food-info {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f4f5f5;
}

.dining .food-container .food .food-info h3 {
  font-size: 2rem;
}

.dining .food-container .food .food-info p {
  line-height: 1.687;
}

.booking-container {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #2e3a3e;
  color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 99;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.booking-container .booking-inner-container {
  position: relative;
}

.booking-container .booking-inner-container .close {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.booking-container .booking-inner-container .close:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 1150px) {
  .events .events-container {
    padding: 0 70px;
  }
  .events .events-container .event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .events .events-container .event:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .events .events-container .event .event-info {
    padding: 0 20px 20px 20px;
  }
  .events .events-container .event .event-info:nth-child(2) {
    padding: 0 20px 20px 20px;
  }
  .events .events-container .event .event-info h3 {
    margin: 10px 0;
  }
  .dining .food-container .food {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dining .food-container .food .food-img {
    width: 100%;
  }
  .dining .food-container .food .food-info {
    position: static;
  }
  .dining .food-container .food .food-info h3 {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .accomodation .rooms .classic,
  .accomodation .rooms .deluxe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accomodation .rooms .classic .room-info h3,
  .accomodation .rooms .deluxe .room-info h3 {
    margin: 0;
  }
  .accomodation .rooms .deluxe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .destination-container .container {
    padding: 0 20px;
  }
  .destination-container .container .place-container .place .heading h1 {
    font-size: 3rem;
  }
  .destination-container .container .place-container .place .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .destination-container .container .place-container .place .columns .col-2 h2 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 570px) {
  .discover-container .discover .heading h1 {
    font-size: 1.5rem;
  }
  .discover-container .discover .para {
    padding: 0 10px;
  }
  .discover-container .discover .para p {
    font-size: 1rem;
  }
  .destination-container .container .place-container .place .heading h1 {
    font-size: 2rem;
  }
  .events .events-container {
    padding: 0 20px;
  }
  .events .events-container .background {
    left: 20px;
    right: 20px;
  }
  .dining {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */